/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/pint.cache
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
.scribe
Homestead.json
Homestead.yaml
npm-debug.log
TODO.md
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
_ide_helper_models.php
_ide_helper.php
.phpstorm.meta.php
frankenphp
frankenphp-worker.php
/public/css/filament
/public/fonts/filament
/public/js/app
/public/js/filament
/public/vendor
/resources/views/scribe
/storage/rector/cache
/storage/pint.cache
/storage/phpstan
/tests/Browser/Screenshots
**/caddy
.agents/skills
.cursor/skills
.github/skills
AGENTS.md