includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:

    paths:
        - app/
        - bootstrap/
        - config/
        - database/
        - routes/

    # Level 10 is the highest level
    level: 10

    checkModelProperties: true

    checkConfigTypes: true

    checkOctaneCompatibility: true

#    ignoreErrors:
#        - '#PHPDoc tag @var#'
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
