includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:

    paths:
        - app/
        - bootstrap/
        - config/
        - database/
        - resources/views/
        - routes/

    # Level 10 is the highest level
    level: 10

    treatPhpDocTypesAsCertain: false

    checkModelProperties: true

    checkConfigTypes: true

    checkOctaneCompatibility: true

    typeAliases:
        ValidationRules: 'array<string, array<\Illuminate\Contracts\Validation\Rule|\Illuminate\Contracts\Validation\ValidationRule|string>|string>'

    ignoreErrors:
        - "#extends \\\\Livewire\\\\Volt\\\\Component#"
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
